.BigCard {
    position: relative;
    width: 50%;
    margin: 0.5%;
    color: white;
}

.BigCardTitle {
    top: 82%;
    font-size: calc(1vw + 8pt);
    font-weight: bold;
    margin-left: 4%;
    margin-right: 4%;
    position: absolute;
    transform: translateY(-50%);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.BigCard:hover .BigCardTitle {
    text-decoration: underline;
}

.BigCardHeadline {
    top: 92%;
    font-size: calc(1vw + 5pt);
    margin-left: 4%;
    margin-right: 4%;
    position: absolute;
    transform: translateY(-50%);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

@media screen and (max-width: 960px) {
    .BigCardTitle {
        font-size: 13pt;
    }

    .BigCardHeadline {
        font-size: 10pt;
    }
}

@media screen and (max-width: 860px) {
    .BigCardTitle {
        font-size: 12pt;
    }

    .BigCardHeadline {
        font-size: 10pt;
    }
}

@media screen and (max-width: 660px) {
    .BigCardTitle {
        font-size: 13px;
        top: 88%;
    }

    .BigCardHeadline {
        display: none;
    }
}

@media screen and (max-width: 520px) {
    .BigCardTitle {
        font-size: 13px;
        font-weight: normal;
        top: 88%;
    }

    .BigCardHeadline {
        display: none;
    }
}