.MediumCard {
    position: relative;
    margin: 0.5%;
    width: 33.33%;
    color: white;
    background-color: darkblue;
}

.MediumCardTitle {
    top: 73%;
    font-size: calc(1vw + 6pt);
    font-weight: bold;
    margin-left: 5%;
    margin-right: 5%;
    position: absolute;
    transform: translateY(-50%);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.MediumCard:hover .MediumCardTitle {
    text-decoration: underline;
}

.MediumCardHeadline {
    top: 88%;
    font-size: calc(1vw + 6pt);
    margin-left: 5%;
    margin-right: 5%;
    position: absolute;
    transform: translateY(-50%);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

@media screen and (max-width: 1120px) {
    .MediumCardHeadline {
        font-size: 10pt;
    }
}

@media screen and (max-width: 900px) {
    .MediumCardHeadline {
        display: none;
    }

    .MediumCardTitle {
        top: 80%;
        -webkit-line-clamp: 3;
    }
}

@media screen and (max-width: 520px) {
    .MediumCardTitle {
        top: 80%;
        font-weight: normal;
        -webkit-line-clamp: 2;
    }
}