.Header {
    width: 100%;
    background: #09357B;
}

.Logo {
    position: relative;
    height: 100px;
    margin-left: 2cm;
    margin-top: 0.5cm;
}

.LogoWrapper {
    position: inherit;
}

.Searcher {
    position: absolute;
    top: 89px;
    right: 2cm;
    text-align: right;
}

.SearchBox {
    position: absolute;
    height: 1.5rem;
    right: 25px;
}

.SearchIcon {
    position: relative;
    margin-left: 10px;
    top: 3px;
}

@media screen and (max-width: 640px) {
    .Header {
        width: 100%;
        height: 140px;
        background: #09357B;
    }

    .Logo {
        position: relative;
        height: 80px;
        margin-left: auto;

    }

    .LogoWrapper {
        position: inherit;
        text-align: center;
    }

    .Searcher {
        position: inherit;
        top: -8px;
        width: 100%;
        text-align: center;
        margin-bottom: 14px;
    }

    .SearchBox {
        position: inherit;
        height: 1.5rem;
        right: 25px;
    }
}